export TOSAESP_OTA_PORT=8027
export TOSAESP_OTA_PASS=""
export TOSAESP_WIFI_SSID=""
export TOSAESP_WIFI_PASS=""
export TOSAESP_MQTT_HOST=""
export TOSAESP_MQTT_PORT=1883
export TOSAESP_MQTT_USER=""
export TOSAESP_MQTT_PASS=""

